table{
    border-collapse: collapse;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;  
}

td, th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
   
    
}
th{
    background-color: brown;
}

tr{
    background-color: red;
}